<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <!--/* configFragment 선언 */-->
    <th:block th:fragment="config">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/fontawesome.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/all.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/brands.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/regular.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/svg-with-js.min.css" rel="stylesheet">
        <link href="/css/fontawesome-free/v4-shims.min.css" rel="stylesheet">
    </th:block>
</html>