<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!--/* configFragment 선언 */-->
    <th:block th:fragment="config">
        <!--/* Mainly scripts */-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.easing.min.js"></script>
<!--        <script src="/js/gulpfile.js"></script>-->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/sb-admin-2.min.js"></script>
        <script src="/js/fontawesome-free/all.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
    </th:block>
</html>
